<a href="https://colab.research.google.com/github/NikitiusIvanov/gbd-life-extension-dashboard/blob/main/preprocessing_all_countries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This notebook contains preprocessing data for estimation risk factors impact to the life expectancy (https://github.com/NikitiusIvanov/gbd-life-extension-dashboard). 

All data was taken from "Global Burden of Disease Study 2019" results tool (https://vizhub.healthdata.org/gbd-results/).

Jupyter notebook witn calculation impact of risk factors into life expectancy: https://drive.google.com/file/d/1bL0Gejz5ZomiBziLsg3Gk-DPYZagBdI9/view?usp=sharing

For reproduce data manipulation you can load the same data from gbd site or fork it from my google-drive by link: https://drive.google.com/drive/folders/1B7BqeCXWVJunX0cBBFT4d25W_Yaw62Sh?usp=sharing

Imports

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [2]:
cd '/content/drive/MyDrive/gbd-life-expectancy-risk-factors-impact-estimation'

/content/drive/MyDrive/gbd-life-expectancy-risk-factors-impact-estimation

In [3]:
import numpy as np
import pandas as pd
import os
import tqdm

load code book

In [4]:
code_book = pd.read_csv(
    os.path.join(
        'data',
        'coode_book','IHME_GBD_2019_CODEBOOK_Y2022M06D29.CSV'
    )
).iloc[1:, 1:]

code_book.head(3)

,measure_id,measure_name,location_id,location_name,sex_id,sex_label,age_group_id,age_group_name,cause_id,cause_name,rei_id,rei_name,metric_id,metric_name,year_id,val,upper,lower
1,1,Deaths,1,Global,Sex ID,Sex,1,Under 5,294,All causes,169,All risk factors,1,Number,1990,NaN,NaN,NaN
2,2,DALYs (Disability-Adjusted Life Years),44637,Low SDI,1,Male,2,Early Neonatal,295,"Communicable, maternal, neonatal, and nutritio...",202,Environmental/occupational risks,2,Percent,1991,NaN,NaN,NaN
3,3,YLDs (Years Lived with Disability),44636,Low-middle SDI,2,Female,3,Late Neonatal,955,HIV/AIDS and sexually transmitted infections,203,Behavioral risks,3,Rate,1992,NaN,NaN,NaN

In [ ]:
measure_name_to_id = { # create mappings
    key: value 
    for key, value in code_book[['measure_name', 'measure_id']].dropna().values
}

metric_name_to_id = {
    key: value 
    for key, value in code_book[['metric_name', 'metric_id']].dropna().values
}

sex_name_to_id = {
    key: value 
    for key, value in code_book[['sex_label', 'sex_id']].dropna().values
}

age_name_to_id = {
    key: value 
    for key, value in code_book[['age_group_name', 'age_group_id']].dropna().values
}

cause_name_to_id = {
    key: value 
    for key, value in code_book[['cause_name', 'cause_id']].dropna().values
}

risks_name_to_id = {
    key: value 
    for key, value in code_book[['rei_name', 'rei_id']].dropna().values
}

location_name_to_id = {
    key: value 
    for key, value in code_book[['location_name', 'location_id']].dropna().values
}

name_to_id_mappings: dict = {
    'measure_id' :measure_name_to_id,
    'metric_id' :metric_name_to_id,
    'sex_id' :sex_name_to_id,
    'age_id' :age_name_to_id,
    'cause_id' :cause_name_to_id,
    'risks_id' :risks_name_to_id,
    'location_id' :location_name_to_id,
}

Utilite functions

In [ ]:
def find_name_by_fragment_in_id_mapping(
    name_to_id_dict: dict,
    fragment: str
) -> list:
    result = [x for x in name_to_id_dict.keys() if fragment.lower() in x.lower()]
    return result

In [ ]:
def add_names_columns_by_ids(
    df: pd.DataFrame,
    name_to_id_mappings: dict = {
        'measure_id' :measure_name_to_id,
        'metric_id' :metric_name_to_id,
        'sex_id' :sex_name_to_id,
        'age_id' :age_name_to_id,
        'cause_id' :cause_name_to_id,
        'risks_id' :risks_name_to_id,
        'location_id' :location_name_to_id,
    },
) -> pd.DataFrame:
    result = df.copy()
    for column in set(result.columns).intersection(set(name_to_id_mappings.keys())):
        result[column.replace('_id', '_name')] = (
            df[column]
            .astype('str')
            .map({key: value for value, key in name_to_id_mappings[column].items()})
        )
    return result

load causes and risks ierarchy

In [6]:
causes_ierarchy = pd.read_csv(
    os.path.join('data','coode_book','IHME_GBD_2019_CAUSE_HIERARCHY_Y2020M11D25.csv')
)

causes_ierarchy.columns = [x.lower().replace(' ', '_') for x in causes_ierarchy.columns]

In [7]:
causes_ierarchy.head(3)

,cause_id,cause_name,parent_id,parent_name,level,cause_outline,sort_order,yll_only,yld_only
0,294,All causes,294,All causes,0,Total,1,NaN,NaN
1,295,"Communicable, maternal, neonatal, and nutritio...",294,All causes,1,A,2,NaN,NaN
2,955,HIV/AIDS and sexually transmitted infections,295,"Communicable, maternal, neonatal, and nutritio...",2,A.1,3,NaN,NaN

In [8]:
risks_ierarchy = pd.read_csv(
    os.path.join('data', 'coode_book', 'IHME_GBD_2019_REI_HIERARCHY_Y2020M10D15.csv')
)

risks_ierarchy.columns = [x.lower().replace(' ', '_') for x in risks_ierarchy.columns]

risks_ierarchy.head(3)

,rei_id,rei_name,parent_id,parent_name,level,sort_order
0,169,All risk factors,169,All risk factors,0,1.0
1,202,Environmental/occupational risks,169,All risk factors,1,2.0
2,203,Behavioral risks,169,All risk factors,1,3.0

## load mortality (age, sex, cause specific)

In [9]:
causes_all_countries_2019_paths = [x for x in os.walk(os.path.join('data', 'causes'))]

file_paths = []

for folder in causes_all_countries_2019_paths:
    for file_name in folder[2]:
        if '.csv' in file_name:
            file_paths.append(os.path.join(folder[0], file_name))

file_paths

['data/causes/IHME-GBD_2019_DATA-f7db7ce2-3/IHME-GBD_2019_DATA-f7db7ce2-3.csv',
 'data/causes/IHME-GBD_2019_DATA-f7db7ce2-2/IHME-GBD_2019_DATA-f7db7ce2-2.csv',
 'data/causes/IHME-GBD_2019_DATA-f7db7ce2-1/IHME-GBD_2019_DATA-f7db7ce2-1.csv']

In [ ]:
causes_all_countries_2019 = pd.concat([pd.read_csv(x) for x in file_paths], axis=0)

In [ ]:
causes_all_countries_2019_source = causes_all_countries_2019.copy()

In [ ]:
causes_all_countries_2019.columns

Index(['measure_id', 'measure_name', 'location_id', 'location_name', 'sex_id',
       'sex_name', 'age_id', 'age_name', 'cause_id', 'cause_name', 'metric_id',
       'metric_name', 'year', 'val', 'upper', 'lower'],
      dtype='object')

In [ ]:
for column in causes_all_countries_2019.columns:
    print(column, causes_all_countries_2019[column].unique().shape[0])

measure_id 1
measure_name 1
location_id 204
location_name 204
sex_id 2
sex_name 2
age_id 21
age_name 21
cause_id 134
cause_name 134
metric_id 1
metric_name 1
year 1
val 941970
upper 941320
lower 909977

In [ ]:
causes_all_countries_2019.cause_name[causes_all_countries_2019.cause_name.str.contains('All')].unique()

array(['All causes'], dtype=object)

In [ ]:
# del the sumarry term
causes_all_countries_2019 = causes_all_countries_2019.copy().query('cause_name != "All causes"')

## load risks factors attributed mortality (age, sex, cause, risk specific)

In [10]:
risk_all_countries_2019_paths = [x for x in os.walk(os.path.join('data', 'risk_factors'))]

file_paths = []

for folder in risk_all_countries_2019_paths:
    for file_name in folder[2]:
        if '.csv' in file_name:
            file_paths.append(os.path.join(folder[0], file_name))

file_paths

['data/risk_factors/IHME-GBD_2019_DATA-53fb5bb6-5/IHME-GBD_2019_DATA-53fb5bb6-5.csv',
 'data/risk_factors/IHME-GBD_2019_DATA-53fb5bb6-2/IHME-GBD_2019_DATA-53fb5bb6-2.csv',
 'data/risk_factors/IHME-GBD_2019_DATA-53fb5bb6-4/IHME-GBD_2019_DATA-53fb5bb6-4.csv',
 'data/risk_factors/IHME-GBD_2019_DATA-53fb5bb6-1/IHME-GBD_2019_DATA-53fb5bb6-1.csv',
 'data/risk_factors/IHME-GBD_2019_DATA-53fb5bb6-6/IHME-GBD_2019_DATA-53fb5bb6-6.csv',
 'data/risk_factors/IHME-GBD_2019_DATA-53fb5bb6-3/IHME-GBD_2019_DATA-53fb5bb6-3.csv']

In [ ]:
risk_all_countries_2019 = pd.concat([pd.read_csv(x) for x in file_paths], axis=0)

In [ ]:
risk_all_countries_2019_source = risk_all_countries_2019.copy()

In [ ]:
risk_all_countries_2019.shape

(2792428, 18)

In [ ]:
risk_all_countries_2019.columns

Index(['measure_id', 'measure_name', 'location_id', 'location_name', 'sex_id',
       'sex_name', 'age_id', 'age_name', 'cause_id', 'cause_name', 'rei_id',
       'rei_name', 'metric_id', 'metric_name', 'year', 'val', 'upper',
       'lower'],
      dtype='object')

In [ ]:
for column in risk_all_countries_2019.columns:
    print(column, risk_all_countries_2019[column].unique().shape[0])

measure_id 1
measure_name 1
location_id 204
location_name 204
sex_id 2
sex_name 2
age_id 21
age_name 21
cause_id 80
cause_name 80
rei_id 67
rei_name 67
metric_id 1
metric_name 1
year 1
val 2381251
upper 2383214
lower 2376493

In [ ]:
risk_all_countries_2019.cause_name[risk_all_countries_2019.cause_name.str.contains('All')].unique()

array(['All causes'], dtype=object)

In [ ]:
risk_all_countries_2019 = risk_all_countries_2019.copy().query('cause_name != "All causes"')

## Load life expectancy

In [11]:
life_tables_paths = [x for x in os.walk(os.path.join('data', 'life_tables'))]

life_tables_df = []

for path in life_tables_paths[1:]:
    file_name = next(filter(lambda x: 'WSHOCK' in x, path[2])) #return first path with 'NOSHOCK' in it
    life_tables_df.append(
        pd.read_csv(
            os.path.join(path[0], file_name)
        )
    )
    print(file_name)

IHME_GBD_2019_LIFE_TABLES_1950_2019_ID_10_WSHOCK_Y2020M11D13.CSV
IHME_GBD_2019_LIFE_TABLES_1950_2019_ID_13_WSHOCK_Y2020M11D13.CSV
IHME_GBD_2019_LIFE_TABLES_1950_2019_ID_6_WSHOCK_Y2020M11D13.CSV
IHME_GBD_2019_LIFE_TABLES_1950_2019_ID_12_WSHOCK_Y2020M11D13.CSV
IHME_GBD_2019_LIFE_TABLES_1950_2019_ID_8_WSHOCK_Y2020M11D13.CSV
IHME_GBD_2019_LIFE_TABLES_1950_2019_ID_7_WSHOCK_Y2020M11D13.CSV
IHME_GBD_2019_LIFE_TABLES_1950_2019_ID_9_WSHOCK_Y2020M11D13.CSV
IHME_GBD_2019_LIFE_TABLES_1950_2019_ID_14_WSHOCK_Y2020M11D13.CSV
IHME_GBD_2019_LIFE_TABLES_1950_2019_ID_5_WSHOCK_Y2020M11D13.CSV
IHME_GBD_2019_LIFE_TABLES_1950_2019_ID_11_WSHOCK_Y2020M11D13.CSV
IHME_GBD_2019_LIFE_TABLES_1950_2019_ID_18_WSHOCK_Y2020M11D13.CSV
IHME_GBD_2019_LIFE_TABLES_1950_2019_ID_16_WSHOCK_Y2020M11D13.CSV
IHME_GBD_2019_LIFE_TABLES_1950_2019_ID_28_WSHOCK_Y2020M11D13.CSV
IHME_GBD_2019_LIFE_TABLES_1950_2019_ID_20_WSHOCK_Y2020M11D13.CSV
IHME_GBD_2019_LIFE_TABLES_1950_2019_ID_30_WSHOCK_Y2020M11D13.CSV
IHME_GBD_2019_LIFE_TABLES_1950_2019_ID_17_WSHOCK_Y2020M11D13.CSV
IHME_GBD_2019_LIFE_TABLES_1950_2019_ID_31_WSHOCK_Y2020M11D13.CSV
IHME_GBD_2019_LIFE_TABLES_1950_2019_ID_15_WSHOCK_Y2020M11D13.CSV
IHME_GBD_2019_LIFE_TABLES_1950_2019_ID_19_WSHOCK_Y2020M11D13.CSV
IHME_GBD_2019_LIFE_TABLES_1950_2019_ID_32_WSHOCK_Y2020M11D13.CSV
IHME_GBD_2019_LIFE_TABLES_1950_2019_ID_148_WSHOCK_Y2020M11D13.CSV
IHME_GBD_2019_LIFE_TABLES_1950_2019_ID_44_WSHOCK_Y2020M11D13.CSV
IHME_GBD_2019_LIFE_TABLES_1950_2019_ID_33_WSHOCK_Y2020M11D13.CSV
IHME_GBD_2019_LIFE_TABLES_1950_2019_ID_45_WSHOCK_Y2020M11D13.CSV

In [ ]:
life_tables = pd.concat(life_tables_df)

print(life_tables.shape)
display(life_tables.head())

(6804000, 14)

,location_id,location_name,sex_id,sex_name,age_group_id,age_group_name,year_id,measure_id,measure_name,metric_id,metric_name,val,upper,lower
0,1,Global,1,male,10,25 to 29,1950,27,Probability of death,8,Probability of death,0.020009,0.021030,0.019039
1,1,Global,1,male,10,25 to 29,1950,26,Life expectancy,5,Years,39.693623,40.543689,38.834807
2,1,Global,2,female,10,25 to 29,1950,27,Probability of death,8,Probability of death,0.018781,0.020751,0.016899
3,1,Global,2,female,10,25 to 29,1950,26,Life expectancy,5,Years,44.072916,44.957524,43.163672
4,1,Global,3,both,10,25 to 29,1950,27,Probability of death,8,Probability of death,0.019387,0.020521,0.018226

In [ ]:
life_expectancy = life_tables.copy().query(
    'measure_name == "Life expectancy"'
    ' and metric_name == "Years"'
    ' and year_id == 2019'
    ' and sex_name != "both"'
)

life_expectancy

,location_id,location_name,sex_id,sex_name,age_group_id,age_group_name,year_id,measure_id,measure_name,metric_id,metric_name,val,upper,lower
415,1,Global,1,male,10,25 to 29,2019,26,Life expectancy,5,Years,49.847937,50.595783,49.155354
417,1,Global,2,female,10,25 to 29,2019,26,Life expectancy,5,Years,54.660094,55.299612,54.035491
835,4,"Southeast Asia, East Asia, and Oceania",1,male,10,25 to 29,2019,26,Life expectancy,5,Years,50.143905,51.609924,48.774651
837,4,"Southeast Asia, East Asia, and Oceania",2,female,10,25 to 29,2019,26,Life expectancy,5,Years,55.661647,56.896661,54.433171
1255,5,East Asia,1,male,10,25 to 29,2019,26,Life expectancy,5,Years,50.938034,52.841619,49.069084
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282657,44790,Bournemouth,2,female,9,20 to 24,2019,26,Life expectancy,5,Years,62.391643,63.838374,60.957610
283075,44791,Cornwall,1,male,9,20 to 24,2019,26,Life expectancy,5,Years,60.261833,61.860788,58.747535
283077,44791,Cornwall,2,female,9,20 to 24,2019,26,Life expectancy,5,Years,63.780595,65.032639,62.448782
283495,44792,Plymouth,1,male,9,20 to 24,2019,26,Life expectancy,5,Years,59.053481,60.693160,57.404585
283497,44792,Plymouth,2,female,9,20 to 24,2019,26,Life expectancy,5,Years,63.199178,64.539995,61.885567

In [ ]:
life_expectancy = life_expectancy.query('location_id in @risk_all_countries_2019.location_id.unique()')

In [ ]:
life_expectancy.age_group_name.unique()

array(['25 to 29', '30 to 34', '35 to 39', '40 to 44', '110 plus',
       '45 to 49', '50 to 54', '55 to 59', '60 to 64', '65 to 69',
       '70 to 74', '75 to 79', '<1 year', '80 to 84', '85 to 89',
       '90 to 94', '95 to 99', '100 to 104', '105 to 109', '1 to 4',
       '5 to 9', '10 to 14', '15 to 19', '20 to 24'], dtype=object)

## load population

In [12]:
population = pd.read_csv(
    os.path.join('data', 'population', 'IHME_GBD_2019_POP_2019_Y2020M10D15.CSV')
)

print(population.shape)
display(population.head())

(95175, 14)

,location_id,location_name,sex_id,sex_name,age_group_id,age_group_name,year_id,measure_id,measure_name,metric_id,metric_name,val,upper,lower
0,1,Global,1,male,1,Under 5,2019,44,Population,1,Number,3.423987e+08,3.523971e+08,3.324841e+08
1,1,Global,1,male,2,Early Neonatal,2019,44,Population,1,Number,1.330245e+06,1.368039e+06,1.292459e+06
2,1,Global,1,male,3,Late Neonatal,2019,44,Population,1,Number,3.951181e+06,4.063467e+06,3.839020e+06
3,1,Global,1,male,4,Post Neonatal,2019,44,Population,1,Number,6.292360e+07,6.472045e+07,6.113298e+07
4,1,Global,1,male,5,1 to 4,2019,44,Population,1,Number,2.741937e+08,2.822446e+08,2.662198e+08

In [ ]:
population.columns

Index(['location_id', 'location_name', 'sex_id', 'sex_name', 'age_group_id',
       'age_group_name', 'year_id', 'measure_id', 'measure_name', 'metric_id',
       'metric_name', 'val', 'upper', 'lower'],
      dtype='object')

In [ ]:
population = population.query('location_id in @risk_all_countries_2019.location_id.unique()')

population preprocessing

In [ ]:
for column in population.columns:
    print(column)
    display(population[column].unique())

location_id

array([    1,     4,     5,     6,     7,     8,     9,    10,    11,
          12,    13,    14,    15,    16,    17,    18,    19,    20,
          21,    22,    23,    24,    25,    26,    27,    28,    29,
          30,    31,    32,    33,    34,    35,    36,    37,    38,
          39,    40,    41,    42,    43,    44,    45,    46,    47,
          48,    49,    50,    51,    52,    53,    54,    55,    56,
          57,    58,    59,    60,    61,    62,    63,    64,    65,
          66,    67,    68,    69,    70,    71,    72,    73,    74,
          75,    76,    77,    78,    79,    80,    81,    82,    83,
          84,    85,    86,    87,    88,    89,    90,    91,    92,
          93,    94,    95,    96,    97,    98,    99,   100,   101,
         102,   103,   104,   105,   106,   107,   108,   109,   110,
         111,   112,   113,   114,   115,   116,   117,   118,   119,
         120,   121,   122,   123,   124,   125,   126,   127,   128,
         129,   130,   131,   132,   133,   134,   135,   136,   137,
         138,   139,   140,   141,   142,   143,   144,   145,   146,
         147,   148,   149,   150,   151,   152,   153,   154,   155,
         156,   157,   158,   159,   160,   161,   162,   163,   164,
         165,   166,   167,   168,   169,   170,   171,   172,   173,
         174,   175,   176,   177,   178,   179,   180,   181,   182,
         183,   184,   185,   186,   187,   189,   190,   191,   192,
         193,   194,   195,   196,   197,   198,   199,   200,   201,
         202,   203,   204,   205,   206,   207,   208,   209,   210,
         211,   212,   213,   214,   215,   216,   217,   218,   239,
         240,   241,   242,   243,   244,   298,   305,   320,   349,
         351,   367,   369,   374,   376,   380,   385,   393,   396,
         413,   416,   422,   433,   434,   435,   478,   479,   522,
         523,   524,   525,   526,   527,   528,   529,   530,   531,
         532,   533,   534,   535,   536,   537,   538,   539,   540,
         541,   542,   543,   544,   545,   546,   547,   548,   549,
         550,   551,   552,   553,   554,   555,   556,   557,   558,
         559,   560,   561,   562,   563,   564,   565,   566,   567,
         568,   569,   570,   571,   572,   573,  4618,  4619,  4620,
        4621,  4622,  4623,  4624,  4625,  4626,  4636,  4643,  4644,
        4645,  4646,  4647,  4648,  4649,  4650,  4651,  4652,  4653,
        4654,  4655,  4656,  4657,  4658,  4659,  4660,  4661,  4662,
        4663,  4664,  4665,  4666,  4667,  4668,  4669,  4670,  4671,
        4672,  4673,  4674,  4709,  4710,  4711,  4712,  4713,  4714,
        4715,  4716,  4717,  4718,  4719,  4720,  4721,  4722,  4723,
        4724,  4725,  4726,  4727,  4728,  4729,  4730,  4731,  4732,
        4733,  4734,  4735,  4736,  4737,  4738,  4739,  4740,  4741,
        4742,  4743,  4749,  4750,  4751,  4752,  4753,  4754,  4755,
        4756,  4757,  4758,  4759,  4760,  4761,  4762,  4763,  4764,
        4765,  4766,  4767,  4768,  4769,  4770,  4771,  4772,  4773,
        4774,  4775,  4776,  4940,  4944, 35424, 35425, 35426, 35427,
       35428, 35429, 35430, 35431, 35432, 35433, 35434, 35435, 35436,
       35437, 35438, 35439, 35440, 35441, 35442, 35443, 35444, 35445,
       35446, 35447, 35448, 35449, 35450, 35451, 35452, 35453, 35454,
       35455, 35456, 35457, 35458, 35459, 35460, 35461, 35462, 35463,
       35464, 35465, 35466, 35467, 35468, 35469, 35470, 35617, 35618,
       35619, 35620, 35621, 35622, 35623, 35624, 35625, 35626, 35627,
       35628, 35629, 35630, 35631, 35632, 35633, 35634, 35635, 35636,
       35637, 35638, 35639, 35640, 35641, 35642, 35643, 35644, 35645,
       35646, 35647, 35648, 35649, 35650, 35651, 35652, 35653, 35654,
       35655, 35656, 35657, 35658, 35659, 35660, 35661, 35662, 35663,
       44534, 44535, 44536, 44537, 44559, 44560, 44561, 44562, 44563,
       44564, 44565, 44566, 44567, 44568, 44575, 44576, 44577, 44578,
       44584, 44586, 44587, 44590, 44591, 44634, 44635, 44636, 44637,
       44638, 44639, 44642, 44643, 44644, 44645, 44646, 44647, 44648,
       44649, 44650, 44651, 44652, 44653, 44654, 44655, 44656, 44657,
       44658, 44659, 44660, 44661, 44662, 44663, 44664, 44665, 44666,
       44667, 44668, 44669, 44670, 44671, 44672, 44673, 44674, 44675,
       44676, 44677, 44678, 44679, 44680, 44681, 44682, 44683, 44684,
       44685, 44686, 44687, 44688, 44689, 44690, 44691, 44692, 44693,
       44694, 44695, 44696, 44697, 44698, 44699, 44700, 44701, 44702,
       44703, 44704, 44705, 44706, 44707, 44708, 44709, 44710, 44711,
       44712, 44713, 44714, 44715, 44716, 44717, 44718, 44719, 44720,
       44721, 44722, 44723, 44724, 44725, 44726, 44727, 44728, 44729,
       44730, 44731, 44732, 44733, 44734, 44735, 44736, 44737, 44738,
       44739, 44740, 44741, 44742, 44743, 44744, 44745, 44746, 44747,
       44748, 44749, 44750, 44751, 44752, 44753, 44754, 44755, 44756,
       44757, 44758, 44759, 44760, 44761, 44762, 44763, 44764, 44765,
       44766, 44767, 44768, 44769, 44770, 44771, 44772, 44773, 44774,
       44775, 44776, 44777, 44778, 44779, 44780, 44781, 44782, 44783,
       44784, 44785, 44786, 44787, 44788, 44789, 44790, 44791, 44792],
      dtype=int64)

location_name

array(['Global', 'Southeast Asia, East Asia, and Oceania', 'East Asia',
       'China', "Democratic People's Republic of Korea",
       'Taiwan (Province of China)', 'Southeast Asia', 'Cambodia',
       'Indonesia', "Lao People's Democratic Republic", 'Malaysia',
       'Maldives', 'Myanmar', 'Philippines', 'Sri Lanka', 'Thailand',
       'Timor-Leste', 'Viet Nam', 'Oceania', 'Fiji', 'Kiribati',
       'Marshall Islands', 'Micronesia (Federated States of)',
       'Papua New Guinea', 'Samoa', 'Solomon Islands', 'Tonga', 'Vanuatu',
       'Central Europe, Eastern Europe, and Central Asia', 'Central Asia',
       'Armenia', 'Azerbaijan', 'Georgia', 'Kazakhstan', 'Kyrgyzstan',
       'Mongolia', 'Tajikistan', 'Turkmenistan', 'Uzbekistan',
       'Central Europe', 'Albania', 'Bosnia and Herzegovina', 'Bulgaria',
       'Croatia', 'Czechia', 'Hungary', 'North Macedonia', 'Montenegro',
       'Poland', 'Romania', 'Serbia', 'Slovakia', 'Slovenia',
       'Eastern Europe', 'Belarus', 'Estonia', 'Latvia', 'Lithuania',
       'Republic of Moldova', 'Russian Federation', 'Ukraine',
       'High-income', 'High-income Asia Pacific', 'Brunei Darussalam',
       'Japan', 'Republic of Korea', 'Singapore', 'Australasia',
       'Australia', 'New Zealand', 'Western Europe', 'Andorra', 'Austria',
       'Belgium', 'Cyprus', 'Denmark', 'Finland', 'France', 'Germany',
       'Greece', 'Iceland', 'Ireland', 'Israel', 'Italy', 'Luxembourg',
       'Malta', 'Netherlands', 'Norway', 'Portugal', 'Spain', 'Sweden',
       'Switzerland', 'United Kingdom', 'Southern Latin America',
       'Argentina', 'Chile', 'Uruguay', 'High-income North America',
       'Canada', 'United States of America',
       'Latin America and Caribbean', 'Caribbean', 'Antigua and Barbuda',
       'Bahamas', 'Barbados', 'Belize', 'Cuba', 'Dominica',
       'Dominican Republic', 'Grenada', 'Guyana', 'Haiti', 'Jamaica',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Suriname',
       'Trinidad and Tobago', 'Andean Latin America',
       'Bolivia (Plurinational State of)', 'Ecuador', 'Peru',
       'Central Latin America', 'Colombia', 'Costa Rica', 'El Salvador',
       'Guatemala', 'Honduras', 'Mexico', 'Nicaragua', 'Panama',
       'Venezuela (Bolivarian Republic of)', 'Tropical Latin America',
       'Brazil', 'Paraguay', 'North Africa and Middle East', 'Algeria',
       'Bahrain', 'Egypt', 'Iran (Islamic Republic of)', 'Iraq', 'Jordan',
       'Kuwait', 'Lebanon', 'Libya', 'Morocco', 'Palestine', 'Oman',
       'Qatar', 'Saudi Arabia', 'Syrian Arab Republic', 'Tunisia',
       'Turkey', 'United Arab Emirates', 'Yemen', 'South Asia',
       'Afghanistan', 'Bangladesh', 'Bhutan', 'India', 'Nepal',
       'Pakistan', 'Sub-Saharan Africa', 'Central Sub-Saharan Africa',
       'Angola', 'Central African Republic', 'Congo',
       'Democratic Republic of the Congo', 'Equatorial Guinea', 'Gabon',
       'Eastern Sub-Saharan Africa', 'Burundi', 'Comoros', 'Djibouti',
       'Eritrea', 'Ethiopia', 'Kenya', 'Madagascar', 'Malawi',
       'Mauritius', 'Mozambique', 'Rwanda', 'Seychelles', 'Somalia',
       'United Republic of Tanzania', 'Uganda', 'Zambia',
       'Southern Sub-Saharan Africa', 'Botswana', 'Lesotho', 'Namibia',
       'South Africa', 'Eswatini', 'Zimbabwe',
       'Western Sub-Saharan Africa', 'Benin', 'Burkina Faso', 'Cameroon',
       'Cabo Verde', 'Chad', "Cte d'Ivoire", 'Gambia', 'Ghana', 'Guinea',
       'Guinea-Bissau', 'Liberia', 'Mali', 'Mauritania', 'Niger',
       'Nigeria', 'Sao Tome and Principe', 'Senegal', 'Sierra Leone',
       'Togo', 'East Asia & Pacific - WB', 'Europe & Central Asia - WB',
       'Latin America & Caribbean - WB', 'Sub-Saharan Africa - WB',
       'Middle East & North Africa - WB', 'South Asia - WB',
       'American Samoa', 'Bermuda', 'Cook Islands', 'Greenland', 'Guam',
       'Monaco', 'Nauru', 'Niue', 'Northern Mariana Islands', 'Palau',
       'Puerto Rico', 'Saint Kitts and Nevis', 'San Marino', 'Tokelau',
       'Tuvalu', 'United States Virgin Islands', 'Northern Ireland',
       'Scotland', 'South Sudan', 'World Bank Regions', 'WHO region',
       'Sudan', 'Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa',
       'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'North East England',
       'North West England', 'Yorkshire and the Humber', 'East Midlands',
       'West Midlands', 'East of England', 'Greater London',
       'South East England', 'South West England', 'Wales',
       'Aguascalientes', 'Baja California', 'Baja California Sur',
       'Campeche', 'Coahuila', 'Colima', 'Chiapas', 'Chihuahua',
       'Mexico City', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo',
       'Jalisco', 'Mxico', 'Michoacn de Ocampo', 'Morelos', 'Nayarit',
       'Nuevo Len', 'Oaxaca', 'Puebla', 'Quertaro', 'Quintana Roo',
       'San Luis Potos', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas',
       'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatn',
       'Zacatecas', 'Aceh', 'North Sumatra', 'West Sumatra', 'Riau',
       'Jambi', 'South Sumatra', 'Bengkulu', 'Lampung',
       'Bangka-Belitung Islands', 'Riau Islands', 'North Kalimantan',
       'Jakarta', 'West Java', 'Central Java', 'Yogyakarta', 'East Java',
       'Banten', 'Bali', 'West Nusa Tenggara', 'East Nusa Tenggara',
       'West Kalimantan', 'Central Kalimantan', 'South Kalimantan',
       'East Kalimantan', 'North Sulawesi', 'Central Sulawesi',
       'South Sulawesi', 'Southeast Sulawesi', 'Gorontalo',
       'West Sulawesi', 'Maluku', 'North Maluku', 'West Papua', 'Papua',
       'European Union', 'England', 'Acre', 'Alagoas', 'Amazonas',
       'Amap', 'Bahia', 'Cear', 'Distrito Federal', 'Esprito Santo',
       'Gois', 'Maranho', 'Minas Gerais', 'Mato Grosso do Sul',
       'Mato Grosso', 'Par', 'Paraba', 'Paran', 'Pernambuco', 'Piaui',
       'Rio de Janeiro', 'Rio Grande do Norte', 'Rondnia', 'Roraima',
       'Rio Grande do Sul', 'Santa Catarina', 'Sergipe', 'So Paulo',
       'Tocantins', 'Sweden except Stockholm', 'Stockholm', 'Hokkaid',
       'Aomori', 'Iwate', 'Miyagi', 'Akita', 'Yamagata', 'Fukushima',
       'Ibaraki', 'Tochigi', 'Gunma', 'Saitama', 'Chiba', 'Tky',
       'Kanagawa', 'Niigata', 'Toyama', 'Ishikawa', 'Fukui', 'Yamanashi',
       'Nagano', 'Gifu', 'Shizuoka', 'Aichi', 'Mie', 'Shiga', 'Kyto',
       'saka', 'Hygo', 'Nara', 'Wakayama', 'Tottori', 'Shimane',
       'Okayama', 'Hiroshima', 'Yamaguchi', 'Tokushima', 'Kagawa',
       'Ehime', 'Kchi', 'Fukuoka', 'Saga', 'Nagasaki', 'Kumamoto',
       'ita', 'Miyazaki', 'Kagoshima', 'Okinawa', 'Baringo', 'Bomet',
       'Bungoma', 'Busia', 'Elgeyo-Marakwet', 'Embu', 'Garissa',
       'HomaBay', 'Isiolo', 'Kajiado', 'Kakamega', 'Kericho', 'Kiambu',
       'Kilifi', 'Kirinyaga', 'Kisii', 'Kisumu', 'Kitui', 'Kwale',
       'Laikipia', 'Lamu', 'Machakos', 'Makueni', 'Mandera', 'Marsabit',
       'Meru', 'Migori', 'Mombasa', "Murang'a", 'Nairobi', 'Nakuru',
       'Nandi', 'Narok', 'Nyamira', 'Nyandarua', 'Nyeri', 'Samburu',
       'Siaya', 'TaitaTaveta', 'TanaRiver', 'TharakaNithi', 'TransNzoia',
       'Turkana', 'UasinGishu', 'Vihiga', 'Wajir', 'WestPokot',
       'Commonwealth', 'Commonwealth High Income',
       'Commonwealth Middle Income', 'Commonwealth Low Income', 'Africa',
       'America', 'Asia', 'Europe', 'African Region',
       'Region of the Americas', 'South-East Asia Region',
       'European Region', 'Eastern Mediterranean Region',
       'Western Pacific Region', 'World Bank High Income',
       'World Bank Upper Middle Income', 'World Bank Lower Middle Income',
       'World Bank Low Income', 'OECD Countries', 'G20', 'African Union',
       'Four World Regions', 'World Bank Income Levels',
       'High-middle SDI', 'High SDI', 'Low-middle SDI', 'Low SDI',
       'North America', 'Middle SDI', 'Nordic Region', 'Darlington',
       'Northumberland', 'Stockton-on-Tees', 'Newcastle upon Tyne',
       'North Tyneside', 'Redcar and Cleveland', 'County Durham',
       'Gateshead', 'Middlesbrough', 'South Tyneside', 'Sunderland',
       'Hartlepool', 'Cheshire East', 'Stockport', 'Trafford',
       'Cheshire West and Chester', 'Sefton', 'Lancashire', 'Cumbria',
       'Bolton', 'Wirral', 'Bury', 'St Helens', 'Warrington', 'Oldham',
       'Rochdale', 'Wigan', 'Halton', 'Liverpool', 'Tameside', 'Salford',
       'Blackburn with Darwen', 'Knowsley', 'Blackpool', 'Manchester',
       'North Yorkshire', 'East Riding of Yorkshire', 'York',
       'North East Lincolnshire', 'Calderdale', 'North Lincolnshire',
       'Bradford', 'Kirklees', 'Leeds', 'Sheffield', 'Wakefield',
       'Rotherham', 'Doncaster', 'Kingston upon Hull, City of',
       'Barnsley', 'Northamptonshire', 'Leicestershire', 'Lincolnshire',
       'Rutland', 'Derby', 'Derbyshire', 'Nottinghamshire', 'Nottingham',
       'Leicester', 'Warwickshire', 'Herefordshire, County of',
       'Solihull', 'Shropshire', 'Worcestershire', 'Staffordshire',
       'Dudley', 'Coventry', 'Telford and Wrekin', 'Stoke-on-Trent',
       'Walsall', 'Wolverhampton', 'Birmingham', 'Sandwell', 'Bedford',
       'Central Bedfordshire', 'Suffolk', 'Hertfordshire', 'Essex',
       'Cambridgeshire', 'Thurrock', 'Norfolk', 'Southend-on-Sea',
       'Peterborough', 'Luton', 'Richmond upon Thames',
       'Kensington and Chelsea', 'Barnet', 'Westminster', 'Bromley',
       'Bexley', 'Redbridge', 'Merton', 'Brent', 'Hillingdon', 'Havering',
       'Kingston upon Thames', 'Sutton', 'Harrow', 'Enfield', 'Croydon',
       'Hammersmith and Fulham', 'Ealing', 'Greenwich', 'Wandsworth',
       'Waltham Forest', 'Camden', 'Lambeth', 'Lewisham', 'Hounslow',
       'Southwark', 'Newham', 'Barking and Dagenham', 'Haringey',
       'Hackney', 'Islington', 'Tower Hamlets', 'Wokingham',
       'Buckinghamshire', 'Surrey', 'Windsor and Maidenhead',
       'West Berkshire', 'Hampshire', 'Bracknell Forest', 'West Sussex',
       'Oxfordshire', 'Reading', 'Kent', 'Brighton and Hove', 'Medway',
       'East Sussex', 'Portsmouth', 'Isle of Wight', 'Milton Keynes',
       'Southampton', 'Slough', 'South Gloucestershire', 'Dorset',
       'Wiltshire', 'North Somerset', 'Devon', 'Poole',
       'Bath and North East Somerset', 'Gloucestershire', 'Somerset',
       'Swindon', 'Torbay', 'Bristol, City of', 'Bournemouth', 'Cornwall',
       'Plymouth'], dtype=object)

sex_id

array([1, 2, 3], dtype=int64)

sex_name

array(['male', 'female', 'both'], dtype=object)

age_group_id

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        28,  30,  31,  32,  39,  42, 157, 158, 159, 162, 164, 235, 188,
       197, 206, 232, 243,  37, 228, 234, 160], dtype=int64)

age_group_name

array(['Under 5', 'Early Neonatal', 'Late Neonatal', 'Post Neonatal',
       '1 to 4', '5 to 9', '10 to 14', '15 to 19', '20 to 24', '25 to 29',
       '30 to 34', '35 to 39', '40 to 44', '45 to 49', '50 to 54',
       '55 to 59', '60 to 64', '65 to 69', '70 to 74', '75 to 79',
       '80 plus', 'All Ages', '5-14 years', '15-49 years', '50-69 years',
       '70+ years', '<1 year', '80 to 84', '85 to 89', '90 to 94',
       '0 to 14', 'Neonatal', '25 plus', '<20 years', '10 to 24',
       '10 to 19', 'Birth', '95 plus', '5 to 19', '15 to 39', '25 to 49',
       '65 to 74', '75 to 84', '20 plus', '55 plus', '75 plus', '85 plus'],
      dtype=object)

year_id

array([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019],
      dtype=int64)

measure_id

array([44], dtype=int64)

measure_name

array(['Population'], dtype=object)

metric_id

array([1], dtype=int64)

metric_name

array(['Number'], dtype=object)

val

array([3.36538477e+08, 1.34830096e+06, 3.99385814e+06, ...,
       1.49859843e+05, 1.41944147e+05, 2.91803990e+05])

upper

array([3.42899131e+08, 1.37372147e+06, 4.06927487e+06, ...,
       1.64273650e+05, 1.55607486e+05, 3.19881136e+05])

lower

array([3.29991007e+08, 1.32250311e+06, 3.91773029e+06, ...,
       1.36992870e+05, 1.29748176e+05, 2.66741046e+05])

## Data harmonization

deaths and risks preprocessing (sex, metric, measure filtering)

In [ ]:
for name, df in zip(
    ['deaths_by_causes', 'risk_factors'],
    [causes_all_countries_2019, risk_all_countries_2019]
):
    for column in ['sex_id', 'metric_id', 'measure_id']:
        print(
            name, column,
            [
                {k:v for v, k in name_to_id_mappings[column].items()}[str(x)]
                for x in df[column].unique()
            ]
        )

deaths_by_causes sex_id ['Male', 'Female']
deaths_by_causes metric_id ['Number']
deaths_by_causes measure_id ['Deaths']
risk_factors sex_id ['Male', 'Female']
risk_factors metric_id ['Number']
risk_factors measure_id ['Deaths']

age groups names preprocessing (convert to start age)

In [ ]:
code_book.age_group_name.unique()

array(['Under 5', 'Early Neonatal', 'Late Neonatal', 'Post Neonatal',
       '1 to 4', '5 to 9', '10 to 14', '15 to 19', '20 to 24', '25 to 29',
       '30 to 34', '35 to 39', '40 to 44', '45 to 49', '50 to 54',
       '55 to 59', '60 to 64', '65 to 69', '70 to 74', '75 to 79',
       '80 plus', 'All Ages', '5-14 years', '15-49 years', '50-69 years',
       '70+ years', 'Age-standardized', '<1 year', '80 to 84', '85 to 89',
       '90 to 94', '20 plus', '0 to 14', '50 to 74 years', 'Neonatal',
       '25 plus', '<20 years', '10 to 24', '85 plus', 'Birth', '10 to 54',
       '0 to 9', '5 to 19', '15 to 39', '25 to 49', '55 plus', '60 to 79',
       '65 to 74', '75 plus', '95 plus', '75 to 84', '20 to 54 years',
       '55 to 89 years', '60 to 89 years', '65 to 89 years',
       '70 to 89 years', '75 to 94 years', '<70 years', nan], dtype=object)

In [ ]:
causes_all_countries_2019.age_name.unique()

array(['1-4 years', '5-9 years', '10-14 years', '15-19 years',
       '20-24 years', '25-29 years', '30-34 years', '35-39 years',
       '40-44 years', '45-49 years', '50-54 years', '55-59 years',
       '60-64 years', '65-69 years', '70-74 years', '75-79 years',
       '<1 year', '80-84 years', '85-89 years', '90-94 years',
       '95+ years'], dtype=object)

In [ ]:
population.age_group_name.unique()

array(['Under 5', 'Early Neonatal', 'Late Neonatal', 'Post Neonatal',
       '1 to 4', '5 to 9', '10 to 14', '15 to 19', '20 to 24', '25 to 29',
       '30 to 34', '35 to 39', '40 to 44', '45 to 49', '50 to 54',
       '55 to 59', '60 to 64', '65 to 69', '70 to 74', '75 to 79',
       '80 plus', 'All Ages', '5-14 years', '15-49 years', '50-69 years',
       '70+ years', '<1 year', '80 to 84', '85 to 89', '90 to 94',
       '0 to 14', 'Neonatal', '25 plus', '<20 years', '10 to 24',
       '10 to 19', 'Birth', '95 plus', '5 to 19', '15 to 39', '25 to 49',
       '65 to 74', '75 to 84', '20 plus', '55 plus', '75 plus', '85 plus'],
      dtype=object)

In [ ]:
risk_all_countries_2019.age_name.unique()

array(['25-29 years', '30-34 years', '35-39 years', '40-44 years',
       '45-49 years', '50-54 years', '55-59 years', '60-64 years',
       '65-69 years', '70-74 years', '75-79 years', '80-84 years',
       '85-89 years', '90-94 years', '95+ years', '10-14 years',
       '15-19 years', '20-24 years', '<1 year', '1-4 years', '5-9 years'],
      dtype=object)

In [ ]:
(
    risk_all_countries_2019.age_id.astype('str')
    .map({key: value for value, key in age_name_to_id.items()})
    .unique()
)

array(['25 to 29', '30 to 34', '35 to 39', '40 to 44', '45 to 49',
       '50 to 54', '55 to 59', '60 to 64', '65 to 69', '70 to 74',
       '75 to 79', '80 to 84', '85 to 89', '90 to 94', '95 plus',
       '10 to 14', '15 to 19', '20 to 24', '<1 year', '1 to 4', '5 to 9'],
      dtype=object)

In [ ]:
age_group_name_to_start_age_int = {
    '<1 year': 0,
    '1 to 4': 1,
    '5 to 9': 5,
    '10 to 14': 10,
    '15 to 19': 15,
    '20 to 24': 20,
    '25 to 29': 25,
    '30 to 34': 30,
    '35 to 39': 35,
    '40 to 44': 40,
    '45 to 49': 45,
    '50 to 54': 50,
    '55 to 59': 55,
    '60 to 64': 60,
    '65 to 69': 65,
    '70 to 74': 70,
    '75 to 79': 75,    
    '80 to 84': 80,
    '85 to 89': 85,
    '90 to 94': 90,
    '95 plus': 95,
}

age_group_id_to_start_age_int = {
    age_name_to_id[key]: value for key, value in age_group_name_to_start_age_int.items() 
}

age_group_id_to_start_age_int

{'28': 0,
 '5': 1,
 '6': 5,
 '7': 10,
 '8': 15,
 '9': 20,
 '10': 25,
 '11': 30,
 '12': 35,
 '13': 40,
 '14': 45,
 '15': 50,
 '16': 55,
 '17': 60,
 '18': 65,
 '19': 70,
 '20': 75,
 '30': 80,
 '31': 85,
 '32': 90,
 '235': 95}

In [ ]:
def age_group_names_preprocessing(
    df: pd.DataFrame,
    age_group_id_column_name: str,
    age_group_id_to_start_age_int: dict={
        '28': 0,
        '5': 1,
        '6': 5,
        '7': 10,
        '8': 15,
        '9': 20,
        '10': 25,
        '11': 30,
        '12': 35,
        '13': 40,
        '14': 45,
        '15': 50,
        '16': 55,
        '17': 60,
        '18': 65,
        '19': 70,
        '20': 75,
        '30': 80,
        '31': 85,
        '32': 90,
        '235': 95
    },
) -> pd.DataFrame:
    result = df.query(
        f'{age_group_id_column_name}.astype("str") in @age_group_id_to_start_age_int.keys()'
    ).copy()

    result['age_group_start'] = (
        result[age_group_id_column_name]
        .astype('str').map(age_group_id_to_start_age_int)
    )

    return result

In [ ]:
risk_all_countries_2019 = age_group_names_preprocessing(
    df=risk_all_countries_2019,
    age_group_id_column_name='age_id'
).copy()

causes_all_countries_2019 = age_group_names_preprocessing(
    df=causes_all_countries_2019,
    age_group_id_column_name='age_id'
).copy()

population = age_group_names_preprocessing(
    df=population,
    age_group_id_column_name='age_group_id'
).copy()

life_expectancy = age_group_names_preprocessing(
    df=life_expectancy,
    age_group_id_column_name='age_group_id'
).copy()

In [ ]:
causes_all_countries_2019.columns

Index(['measure_id', 'measure_name', 'location_id', 'location_name', 'sex_id',
       'sex_name', 'age_id', 'age_name', 'cause_id', 'cause_name', 'metric_id',
       'metric_name', 'year', 'val', 'upper', 'lower', 'age_group_start'],
      dtype='object')

## Data filtering

causes of deaths select detalization level

In [ ]:
causes_names_level_3 = causes_ierarchy.query('level == 3').cause_name.unique()

In [ ]:
print(len(causes_names_level_3))
[np.random.choice(causes_names_level_3, 30)]

169

[array(['Rheumatoid arthritis', 'Cardiomyopathy and myocarditis',
        'Chronic kidney disease', 'Urticaria',
        'Other cardiovascular and circulatory diseases', 'Road injuries',
        'Dengue', 'Self-harm', 'Endocarditis', 'Diabetes mellitus',
        'Larynx cancer', 'Guinea worm disease', 'Non-melanoma skin cancer',
        'Stomach cancer', 'Guinea worm disease',
        'Brain and central nervous system cancer',
        'Interpersonal violence', 'Inflammatory bowel disease',
        'Anxiety disorders', 'Food-borne trematodiases',
        'Multiple sclerosis', 'Esophageal cancer',
        'Dietary iron deficiency', 'HIV/AIDS', 'Oral disorders',
        'Fungal skin diseases', 'Other skin and subcutaneous diseases',
        'Alcohol use disorders',
        'Paralytic ileus and intestinal obstruction', 'Diarrheal diseases'],
       dtype=object)]

In [ ]:
causes_id_level_3 = [int(cause_name_to_id[x]) for x in causes_names_level_3]
len(causes_id_level_3)

169

In [ ]:
causes_all_countries_2019_preprocessed = causes_all_countries_2019.query('cause_id in @causes_id_level_3')

for column in ['location_name', 'sex_name', 'age_name', 'measure_name', 'metric_name', 'year']:

    print(column)
    display(causes_all_countries_2019_preprocessed[column].unique())

location_name

array(['Vanuatu', 'Switzerland', 'Colombia', 'Costa Rica', 'Uganda',
       'Russian Federation', 'Maldives', 'Myanmar', 'Denmark', 'Croatia',
       'Egypt', 'Yemen', 'Cuba', 'Dominica', 'Armenia', 'United Kingdom',
       'Gabon', 'Ukraine', 'Czechia', 'Finland', 'Zambia', 'Gambia',
       'Iran (Islamic Republic of)', 'Puerto Rico',
       'Saint Kitts and Nevis', 'El Salvador', 'Dominican Republic',
       "Cte d'Ivoire", 'Sweden', 'Azerbaijan', 'Sudan', 'American Samoa',
       'Philippines', 'Iraq', 'Argentina', 'Sri Lanka', 'Afghanistan',
       'France', 'Burundi', 'Hungary', 'North Macedonia', 'San Marino',
       'Ghana', 'Bermuda', 'Brunei Darussalam', 'Guinea', 'Guatemala',
       'Jordan', 'Grenada', 'Georgia', 'China', 'Honduras', 'Thailand',
       'Germany', 'Botswana', 'Tokelau', 'Greece', 'Guyana', 'Haiti',
       'Bhutan', 'Uruguay', 'Liberia', 'Comoros', 'Lesotho', 'Kyrgyzstan',
       'Bangladesh', 'Montenegro', 'Greenland', 'Chile', 'Poland',
       'Iceland', "Democratic People's Republic of Korea", 'Djibouti',
       'Mexico', 'Namibia', 'Lebanon', 'Japan',
       'Taiwan (Province of China)', 'India', 'Kazakhstan', 'Kuwait',
       'South Africa', 'Ireland', 'Guinea-Bissau', 'Cook Islands',
       'Tuvalu', 'Mongolia', 'United States Virgin Islands',
       'Timor-Leste', 'Nepal', 'Eritrea', 'Romania', 'Canada', 'Jamaica',
       'Saint Lucia', 'Singapore', 'Republic of Korea', 'Serbia',
       'Viet Nam', 'Guam', 'Libya', 'Morocco', 'Nicaragua', 'Cambodia',
       'Ethiopia', 'Tajikistan', 'Mali', 'Kenya', 'Panama', 'Eswatini',
       'Zimbabwe', 'Israel', 'Pakistan', 'Niger', 'Fiji', 'Mauritania',
       'United States of America', 'Turkmenistan', 'South Sudan',
       'Venezuela (Bolivarian Republic of)', 'Madagascar', 'Italy',
       'Australia', 'Palestine', 'Slovakia',
       'Saint Vincent and the Grenadines', 'Kiribati', 'Indonesia',
       'Monaco', 'Suriname', 'New Zealand', 'Slovenia', 'Angola',
       'Brazil', 'Nigeria', 'Oman', 'Malawi', 'Benin', 'Marshall Islands',
       "Lao People's Democratic Republic", 'Luxembourg',
       'Central African Republic', 'Uzbekistan', 'Nauru',
       'Trinidad and Tobago', 'Sao Tome and Principe', 'Niue', 'Malaysia',
       'Antigua and Barbuda', 'Burkina Faso', 'Qatar', 'Mauritius',
       'Paraguay', 'Senegal', 'Malta', 'Belarus', 'Andorra',
       'Micronesia (Federated States of)',
       'Bolivia (Plurinational State of)', 'Albania', 'Saudi Arabia',
       'Algeria', 'Bahamas', 'Cameroon', 'Austria',
       'Northern Mariana Islands', 'Congo', 'Papua New Guinea',
       'Netherlands', 'Ecuador', 'Mozambique', 'Rwanda', 'Sierra Leone',
       'Democratic Republic of the Congo', 'Estonia', 'Barbados',
       'Syrian Arab Republic', 'Bosnia and Herzegovina', 'Cabo Verde',
       'Palau', 'Norway', 'Belgium', 'Samoa', 'Bahrain',
       'Equatorial Guinea', 'Latvia', 'Solomon Islands', 'Peru', 'Belize',
       'Tunisia', 'Togo', 'Cyprus', 'Portugal', 'Seychelles', 'Bulgaria',
       'Turkey', 'Lithuania', 'Republic of Moldova', 'Chad', 'Tonga',
       'Somalia', 'Spain', 'United Arab Emirates',
       'United Republic of Tanzania'], dtype=object)

sex_name

array(['Male', 'Female'], dtype=object)

age_name

array(['1-4 years', '5-9 years', '10-14 years', '15-19 years',
       '20-24 years', '25-29 years', '30-34 years', '35-39 years',
       '40-44 years', '45-49 years', '50-54 years', '55-59 years',
       '60-64 years', '65-69 years', '70-74 years', '75-79 years',
       '<1 year', '80-84 years', '85-89 years', '90-94 years',
       '95+ years'], dtype=object)

measure_name

array(['Deaths'], dtype=object)

metric_name

array(['Number'], dtype=object)

year

array([2019], dtype=int64)

risk factors most detailed select

In [ ]:
risks_ierarchy.query('level == 0')

     rei_id          rei_name  parent_id       parent_name  level  sort_order
0       169  All risk factors        169  All risk factors      0         1.0
4       171        Etiologies        171        Etiologies      0         5.0
5       191       Impairments        191       Impairments      0         6.0
6       362          Injuries        362          Injuries      0         7.0
146     298       Amputations        298       Amputations      0       148.0
154     299             Burns        299             Burns      0       156.0
158     300         Fractures        300         Fractures      0       160.0
171     301     Head Injuries        301     Head Injuries      0       173.0
174     302   Spinal Injuries        302   Spinal Injuries      0       176.0
177     303    Minor Injuries        303    Minor Injuries      0       179.0
183     304    Other Injuries        304    Other Injuries      0       185.0

In [ ]:
risks_most_detailed_ids = set(
    risks_ierarchy.rei_id.values
).difference(set(risks_ierarchy.parent_id.values)).union(set([169]))

len(risks_most_detailed_ids)

165

In [ ]:
# select only childrens from 'All risk factors'
start_id = 169
start_level = risks_ierarchy.query('rei_id == @start_id').level.values[0] + 1
all_risks_ids = set([start_id])
for level in range(start_level, risks_ierarchy.level.max() + 1):
    all_risks_ids = all_risks_ids.union(
        set(risks_ierarchy.query('level == @level and parent_id in @all_risks_ids').rei_id.values)
    )

    print(level)
all_risks_ids = all_risks_ids.union(set([169]))
print(len(all_risks_ids))

1
2
3
4
87

In [ ]:
# select most detailed risks that are childrens from 'All risk factors'
risks_most_detailed = risks_ierarchy.query('rei_id in @all_risks_ids and rei_id in @risks_most_detailed_ids')

risks_most_detailed

,rei_id,rei_name,parent_id,parent_name,level,sort_order
0,169,All risk factors,169,All risk factors,0,1.0
8,83,Unsafe water source,82,"Unsafe water, sanitation, and handwashing",3,9.0
9,84,Unsafe sanitation,82,"Unsafe water, sanitation, and handwashing",3,10.0
10,238,No access to handwashing facility,82,"Unsafe water, sanitation, and handwashing",3,11.0
13,86,Ambient particulate matter pollution,380,Particulate matter pollution,4,14.0
...,...,...,...,...,...,...
85,367,High LDL cholesterol,104,Metabolic risks,2,85.0
86,107,High systolic blood pressure,104,Metabolic risks,2,86.0
87,108,High body-mass index,104,Metabolic risks,2,87.0
88,109,Low bone mineral density,104,Metabolic risks,2,88.0
89,341,Impaired kidney function,104,Metabolic risks,2,89.0

In [ ]:
set(risks_most_detailed.rei_id).intersection(set(risks_most_detailed.parent_id))

{169}

In [ ]:
len(risk_all_countries_2019.rei_id.unique())

67

In [ ]:
risk_all_countries_2019_preprocessed = risk_all_countries_2019.query(
    'rei_id in @risks_most_detailed.rei_id'
    ' and cause_name in @causes_names_level_3'
)

len(risk_all_countries_2019_preprocessed.rei_id.unique())

67

In [ ]:
population = population.copy().query(
    'sex_name != "both"'
    ' and age_group_start in @causes_all_countries_2019.age_group_start'
    ' and year_id == 2019'
    ' and location_name in @causes_all_countries_2019.location_name'
)

In [ ]:
life_expectancy = life_expectancy.copy().query(
    'sex_name != "both"'
    ' and age_group_start in @causes_all_countries_2019.age_group_start'
    ' and year_id == 2019'
    ' and location_name in @causes_all_countries_2019.location_name'
)

## Filling risk factors

In [ ]:
risk_all_countries_2019_preprocessed.columns

Index(['measure_id', 'measure_name', 'location_id', 'location_name', 'sex_id',
       'sex_name', 'age_id', 'age_name', 'cause_id', 'cause_name', 'rei_id',
       'rei_name', 'metric_id', 'metric_name', 'year', 'val', 'upper', 'lower',
       'age_group_start'],
      dtype='object')

In [ ]:
risk_all_countries_2019_preprocessed.columns

Index(['measure_id', 'measure_name', 'location_id', 'location_name', 'sex_id',
       'sex_name', 'age_id', 'age_name', 'cause_id', 'cause_name', 'rei_id',
       'rei_name', 'metric_id', 'metric_name', 'year', 'val', 'upper', 'lower',
       'age_group_start'],
      dtype='object')

In [ ]:
results = []

for cause_id in tqdm.tqdm(risk_all_countries_2019_preprocessed['cause_id'].unique()):

    for rei_id in risk_all_countries_2019_preprocessed.query(
        'cause_id == @cause_id'
    )['rei_id'].unique():

        filled_risk_factor = (
            risk_all_countries_2019_preprocessed.query(
                'cause_id == @cause_id'
                ' and rei_id == @rei_id'
            ).set_index(
                [
                    'location_id',
                    'age_group_start',
                    'sex_id',
                    'cause_id',
                    'rei_id'
                ]
            )[['val', 'upper', 'lower']].sort_index()
        ).join(
            pd.DataFrame(
                index=pd.MultiIndex.from_product(
                    [
                        risk_all_countries_2019_preprocessed['location_id'].unique(),
                        risk_all_countries_2019_preprocessed['age_group_start'].unique(),
                        risk_all_countries_2019_preprocessed['sex_id'].unique(),
                        [cause_id],
                        [rei_id]
                    ],
                    names=[
                        'location_id',
                        'age_group_start',
                        'sex_id',
                        'cause_id',
                        'rei_id'
                    ]
                )).sort_index(),
            how='outer'    
        ).fillna(0).reset_index()

        results.append(filled_risk_factor)

100%|| 79/79 [00:45<00:00,  1.73it/s]

In [ ]:
filled_risk_factors = pd.concat(results, axis=0)

In [ ]:
filled_risk_factors.shape

(3581424, 8)

In [ ]:
filled_risk_factors.duplicated().sum()

0

In [ ]:
(filled_risk_factors[['val', 'upper', 'lower']] == 0).all(axis=1).sum()

1256614

In [ ]:
filled_risk_factors

,location_id,age_group_start,sex_id,cause_id,rei_id,val,upper,lower
0,6,0,1,504,91,0.000000,0.000000,0.000000
1,6,0,2,504,91,0.000000,0.000000,0.000000
2,6,1,1,504,91,0.000000,0.000000,0.000000
3,6,1,2,504,91,0.000000,0.000000,0.000000
4,6,5,1,504,91,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...
8563,522,85,2,499,124,0.052622,0.187631,0.012720
8564,522,90,1,499,124,0.061035,0.292564,0.009096
8565,522,90,2,499,124,0.027368,0.100173,0.006522
8566,522,95,1,499,124,0.022894,0.103315,0.003498
8567,522,95,2,499,124,0.014420,0.056599,0.003334

In [ ]:
risks_name_to_id = {k: int(v) for k,v in risks_name_to_id.items()}
location_name_to_id = {k: int(v) for k,v in location_name_to_id.items()}
cause_name_to_id = {k: int(v) for k,v in cause_name_to_id.items()}

In [ ]:
filled_risk_factors.query(
    'rei_id == @risks_name_to_id["Iron deficiency"]'
    ' and location_id == @location_name_to_id["Germany"]'
).val.sum()

3.1893792590535663

In [ ]:
filled_risk_factors.to_csv(
    os.path.join('data', 'population_causes_risks_preprocessed', 'risk_factors.csv'),
    index=False,
)

In [ ]:
pd.Series(risks_name_to_id).to_csv(
    os.path.join('data', 'population_causes_risks_preprocessed', 'map_risks_name_to_id.csv'),
)

pd.Series(location_name_to_id).to_csv(
    os.path.join('data', 'population_causes_risks_preprocessed', 'map_location_name_to_id.csv'),
)

pd.Series(cause_name_to_id).to_csv(
    os.path.join('data', 'population_causes_risks_preprocessed', 'map_cause_name_to_id.csv'),
)

In [ ]:
filled_risk_factors.rei_id.unique().shape

(67,)

## Selecting risk factors that might be excluded

In [ ]:
start_id = 203 # rei_name = 'Behavioral risks'
start_level = risks_ierarchy.query('rei_id == @start_id').level.values[0] + 1
behavioral_risks_ids = set([start_id])
for level in range(start_level, risks_ierarchy.level.max() + 1):
    behavioral_risks_ids = behavioral_risks_ids.union(
        set(risks_ierarchy.query('level == @level and parent_id in @behavioral_risks_ids').rei_id.values)
    )

    print(level)

2
3
4

In [ ]:
behavioral_risks = risks_ierarchy.query('rei_id in @behavioral_risks_ids')
len(behavioral_risks)

43

In [ ]:
behavioral_risks

,rei_id,rei_name,parent_id,parent_name,level,sort_order
2,203,Behavioral risks,169,All risk factors,1,3.0
42,92,Child and maternal malnutrition,203,Behavioral risks,2,43.0
43,93,Suboptimal breastfeeding,92,Child and maternal malnutrition,3,44.0
44,136,Non-exclusive breastfeeding,93,Suboptimal breastfeeding,4,45.0
45,137,Discontinued breastfeeding,93,Suboptimal breastfeeding,4,46.0
46,239,Child growth failure,92,Child and maternal malnutrition,3,47.0
47,94,Child underweight,239,Child growth failure,4,48.0
48,240,Child wasting,239,Child growth failure,4,49.0
49,241,Child stunting,239,Child growth failure,4,50.0
50,339,Low birth weight and short gestation,92,Child and maternal malnutrition,3,51.0
51,334,Short gestation,339,Low birth weight and short gestation,4,52.0
52,335,Low birth weight,339,Low birth weight and short gestation,4,53.0
53,95,Iron deficiency,92,Child and maternal malnutrition,3,54.0
54,96,Vitamin A deficiency,92,Child and maternal malnutrition,3,55.0
55,97,Zinc deficiency,92,Child and maternal malnutrition,3,56.0
56,98,Tobacco,203,Behavioral risks,2,57.0
57,99,Smoking,98,Tobacco,3,58.0
58,332,Chewing tobacco,98,Tobacco,3,59.0
59,100,Secondhand smoke,98,Tobacco,3,60.0
60,102,Alcohol use,203,Behavioral risks,2,61.0
61,103,Drug use,203,Behavioral risks,2,62.0
62,110,Dietary risks,203,Behavioral risks,2,63.0
63,111,Diet low in fruits,110,Dietary risks,3,64.0
64,112,Diet low in vegetables,110,Dietary risks,3,65.0
65,333,Diet low in legumes,110,Dietary risks,3,65.5
66,113,Diet low in whole grains,110,Dietary risks,3,66.0
67,114,Diet low in nuts and seeds,110,Dietary risks,3,67.0
68,115,Diet low in milk,110,Dietary risks,3,68.0
69,116,Diet high in red meat,110,Dietary risks,3,69.0
70,117,Diet high in processed meat,110,Dietary risks,3,70.0
71,118,Diet high in sugar-sweetened beverages,110,Dietary risks,3,71.0
72,119,Diet low in fiber,110,Dietary risks,3,72.0
73,147,Diet low in calcium,110,Dietary risks,3,73.0
74,121,Diet low in seafood omega-3 fatty acids,110,Dietary risks,3,74.0
75,122,Diet low in polyunsaturated fatty acids,110,Dietary risks,3,75.0
76,123,Diet high in trans fatty acids,110,Dietary risks,3,76.0
77,124,Diet high in sodium,110,Dietary risks,3,77.0
78,135,Intimate partner violence,203,Behavioral risks,2,78.0
79,381,Childhood sexual abuse and bullying,203,Behavioral risks,2,79.0
80,134,Childhood sexual abuse,381,Childhood sexual abuse and bullying,3,80.0
81,363,Bullying victimization,381,Childhood sexual abuse and bullying,3,81.0
82,170,Unsafe sex,203,Behavioral risks,2,82.0
83,125,Low physical activity,203,Behavioral risks,2,83.0

In [ ]:
risks_ierarchy[risks_ierarchy.rei_name.str.contains('High')]

,rei_id,rei_name,parent_id,parent_name,level,sort_order
17,337,High temperature,331,Non-optimal temperature,3,18.0
84,105,High fasting plasma glucose,104,Metabolic risks,2,84.0
85,367,High LDL cholesterol,104,Metabolic risks,2,85.0
86,107,High systolic blood pressure,104,Metabolic risks,2,86.0
87,108,High body-mass index,104,Metabolic risks,2,87.0

In [ ]:
risks_manageable = [
    'Alcohol use',
    'Drug use',
    'Smoking',
    'Secondhand smoke',
    'Chewing tobacco',
    'Unsafe sex',
    'Low physical activity',
    'High fasting plasma glucose',
    'High LDL cholesterol',
    'High systolic blood pressure',
    'High body-mass index',
    'Diet high in processed meat',
    'Diet high in red meat',
    'Diet high in sodium',
    'Diet high in sugar-sweetened beverages',
    'Diet high in trans fatty acids',
    'Diet low in calcium',
    'Diet low in fiber',
    'Diet low in fruits',
    'Diet low in legumes',
    'Diet low in milk',
    'Diet low in nuts and seeds',
    'Diet low in polyunsaturated fatty acids',
    'Diet low in seafood omega-3 fatty acids',
    'Diet low in vegetables',
    'Diet low in whole grains',    
]

In [ ]:
len(risks_manageable)

26

In [ ]:
pd.Series(risks_manageable).to_csv(
    os.path.join(
        'data',
        'population_causes_risks_preprocessed',
        'risks_names_manageable.csv'
    ),
    index=False
)

In [ ]:
map_rei_id_to_rei_parent_id = {k:v for k,v in risks_ierarchy[['rei_id', 'parent_id']].values}
map_cause_id_to_cause_parent_id = {k:v for k,v in causes_ierarchy[['cause_id', 'parent_id']].values}

In [ ]:
pd.Series(map_rei_id_to_rei_parent_id).to_csv(
    os.path.join(
        'data',
        'population_causes_risks_preprocessed',
        'map_rei_id_to_rei_parent_id.csv'
    ),
)

pd.Series(map_cause_id_to_cause_parent_id).to_csv(
    os.path.join(
        'data',
        'population_causes_risks_preprocessed',
        'map_cause_id_to_cause_parent_id.csv'
    ),
)

## Save preprocessed data

In [ ]:
preprocessed_path = os.path.join('data', 'data_preprocessed')

In [ ]:
population.to_csv(
    os.path.join(
        preprocessed_path,
        'population.csv'
    ),
    index=False
)

In [ ]:
causes_all_countries_2019_preprocessed.to_csv(
    os.path.join(
        preprocessed_path,
        'causes.csv'
    ),
    index=False
)

In [ ]:
filled_risk_factors.to_csv(
    os.path.join(
        preprocessed_path,
        'risk_factors.csv'
    ),
    index=False
)

In [ ]:
life_expectancy.to_csv(
        os.path.join(
        preprocessed_path,
        'life_expectancy.csv'
    ),
    index=False
)